@page
@model Gym_Tracker.Pages.Shared.Contact_UsModel
@{
}

<!DOCTYPE html>

<html>
<head>
    <title>Contact Us</title>
</head>
<body>




    <p>Please provide your first and last name.</p>

    <form>

        <label for="firstname">First name:</label><br>
        <input type="text" id="fname" name="fname"><br>




    </form>

    <p>Please provide your email address.</p>


    <form>


        <label for="email">Email Address:</label><br>

        <input type="email" id="email" name="email"><br />



    </form>


    <button type="submit">Submit</button>

    <script>
        window.alert(Your answer have been sent, thank you!);
    </script>



</body>







</html>



























 


