@page
@model Gym_Tracker.Pages.Pages_AboutUs
@{
}

<head>
<h1 style="color: #FFFFFF; background-color: #000080; font-family: Arial; text-align: center; font-size: 72px "> About Us</h1>
<img src="https://i.guim.co.uk/img/media/a561b92bd05b3caf63e0a592d2c9d0b25710bad5/0_302_3200_1920/master/3200.jpg?width=1200&height=900&quality=85&auto=format&fit=crop&s=39b29191f13fddcc54370869aba3cb30" alt="Jogging" id="Jog" />
</head>

<body>
<p style="font-size:33px;color:#000080">We are a workout company that tracks Weather patterns to help you get the most out of your workout. We use real weather tracking to show you the weather in your area months ahead</p>

</body>



<h2 style="text-align:center;font-size:48px;color:#000080">Reasons to join Us</h2>
<ul>
    <li style="text-align:center;font-size:24px;color:#000080">We offer weather updates every day</li>
    <li style="text-align:center;font-size:24px;color:#000080">We will send notiications daily</li>
    <li style="text-align:center;font-size:24px;color:#000080">We have accurate weather reports to help you achieve the most out of your day</li>
    <li style="text-align:center;font-size:24px;color:#000080">Look at future days months ahead to look at predictions</li>

</ul>
<p>
    <h2 style="text-align:center;font-size:48px;color:#000080">Pricing for App</h2>


   
    
    <table class="table table-bordered";width:100%;style="color:#000080">
        <tr>
            <th style="color:#000080">Level</th>
            <th style="color:#000080">Package</th>
            <th style="color:#000080">Pricing</th>

           
        </tr>
        <tr>
            <td style="color:#CD7F32">Bronze</td>
            <td style="color:#CD7F32">predicts forecast 1 month in the future</td>
            <td style="color:#CD7F32">2.99/month</td>
        </tr>
        <tr>
            <td style="color:#C0C0C0">Silver</td>
            <td style="color:#C0C0C0">predicts forecast 2 months in the future</td>
            <td style="color:#C0C0C0">7.99/month</td>

        </tr>
        <tr>
            <td style="color:#AA6C39 ">Gold</td>
            <td style="color:#AA6C39 ">predicts forecast 5 months in the future</td>
            <td style="color:#AA6C39 ">9.99/month</td>
        </tr>
    </table>
</p>




<button type="button" onclick="alert('Thanks for your interest!')">Click for more information</button>




<head>
    <style>
        h1 {
            font-family: "Times New Roman", Times, serif;
        }

        p {
            font-family: Arial, Helvetica, sans-serif;
        }

        h2 {
            font-family: "Times New Roman", serif;
        }
    </style>
</head>