@page
@model Gym_Tracker.Pages.Contact_UsModel
@{
}
<!--This-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title> 
<link rel="stylesheet" href="style.css"> 
</head>

<body>

    <div class="title">Contact Us</div>



<div class="email">Please provide your email address.</div>


    
<form>
    <label for="email">Email Address:</label><br>

    <input type="email" id="email" name="email"><br />



   </form>
    <button type="button" class="Enter btn-primary">Enter</button>
    <title>Weather Search</title>
    </body>
    
    
    <body>
        <h1>Check Today's Weather</h1>
        <input type="text" id="city" placeholder="Enter city name">
        <button id="searchBtn">Search</button>

        <script>
            document.getElementById('searchBtn').addEventListener('click', function() {
              const city = document.getElementById('city').value;
              if (city) {
                alert(`Fetching weather for ${city}...`);
              } else {
                alert('Please enter a city name.');
              }
            });
        </script>














</body>
</html>




